.App {
  width: 100%;

}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.header h2{
  font-size: 50px;
}

.container_users{
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.card_user{
  padding: 20px;
  box-shadow: 1px -1px 4px #868585;
}

.card_user h5{
  margin-block-start: 0px !important;
  margin: 0px;
  color: darkgray;
}

.card_user h2{
  text-align: center;
}

.button{
  border: none;
  padding: 15px;
  margin: 10px;
  border-radius: 10%;
  cursor: pointer;
  color: white;
}

.button i{
  font-size: 16px;
}

.red{
  background: rgb(248, 67, 67);
}

.green{
  background: rgb(56, 206, 56);
}

.red:hover{
  box-shadow: 0px 0px 11px #ca2828;
  background: rgb(255, 0, 0);
}

.green:hover{
  box-shadow: 0px 0px 11px #53d353;
  background: rgb(66, 231, 44);
}

.blue{
  color: white;
  background: rgb(85, 121, 218);
  height: 40px;
  align-self: center;
}

.blue:hover{
  box-shadow: 0px 0px 11px #4e50da;
  background: rgb(0, 17, 255);
}



